name: Build QMK firmware

on: [push, workflow_dispatch]

permissions:
  contents: write

jobs:
  build:
    name: 'QMK Userspace Build'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          token: ${{ github.token }}
      - name: Build Userspace Firmware
        uses: ./.github/actions/qmk_userspace_build.yml

  publish:
    name: 'QMK Userspace Publish'
    uses: ./.github/actions/qmk_userspace_publish.yml
    if: always() && !cancelled()
    needs: build
